.container{

}
*{
    font-size: 14px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 70px;
    background-color: lightblue;

}
.header .nav{
    float: right;
    margin-right: 30px;
}
.header a{
    text-decoration: none;
    color: black;
    margin-left: 50px;
    line-height: 70px;
}
.banner{
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin-left: 488px;
    /* text-align: center; */
}
@-webkit-keyframes move{
    0%{
        left:0px;
    }
    100%{
        left: 100%;
    }
}
.banner ul{
    width: 1000%;
    height: 400px;
    /* margin: 0 auto; */
    position: relative;
    /* left: 500px; */
}
.banner ul > li {
    list-style: none;
    float: left;
    z-index: 1;
    /* text-align: center; */
    /* display: inline; */
    
}
img{
    width: 600px;
    height: 400px;
}

#button{
    position: absolute;
    left: 742px;
    bottom: -20px;
    z-index: 2;
}
#button li{
    width: 10px;
    border-radius: 50%;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
    background-color: rgba(221, 48, 48, 0.5);
}
.on {
    background-color: rgb(221, 48, 48, 1) !important;
}

.pre, .next{
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
}
.pre{
    left: 540px;
    bottom: 107px;
}
.next{
    right: 530px;
    bottom: 107px;
}
.pre:hover, .next:hover{
    background-color: rgba(247, 242, 242, 0.945);
}
.left, .right{
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}
.left{
    border-left: 2px solid lightcoral;
    border-bottom: 2px solid lightcoral;
}
.right{
    border-right: 2px solid lightcoral;
    border-top: 2px solid lightcoral;
}

.content{
    /* 定块 水平居中 */
    padding: 30px;
    margin: 0 auto;
    border: 1px solid pink;
    max-width: 1128px;
    min-height: 500px;
}

.content .content-gw{
    padding: 0;
    margin: 0;
}

.content .content-gw .content-item{
    position: relative;
    display: inline-block;
    padding: 20px;
    margin-right: 25px;
    width: calc((100% - 30px * 2) / 3);
    height: 410px;
    border: 2px solid lightblue;
}
.content .content-gw .content-item:last-child{
    margin-right: 0;
}

.item-title{
    float: left;
    padding: 30px;
    width:100%;
    height: 100px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid lightblue;
}
.item-title::after{
    clear: both;
}
.item-center{
    text-align: center;
    padding: 30px;
    width: 100%;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid lightblue;
}